<div class="calculator-display">
  <div class="number-labels">1 2 3</div>
  <div class="display-header">
    <span class="calc-label">calc</span>
    <div class="theme-toggle">
      <label for="theme-switch">THEME</label>
      <div class="toggle-wrapper">
        <input type="checkbox" id="theme-switch" (change)="toggleTheme()">
        <span class="theme-indicator"></span>
      </div>
    </div>
  </div>
  <div class="display">{{result || '0'}}</div>
</div>

<div class="calculator-buttons">
  <div class="button-container">
    <div class="keys">
      <button *ngFor="let key of keys" (click)="onKeyPress(key)" [ngClass]="{ 'reset': key === 'DEL' }">{{key}}</button>
    </div>
    <div class="control-buttons">
      <button class="reset" (click)="reset()">RESET</button>
      <button class="equal" (click)="onKeyPress('=')">=</button>
    </div>
  </div>
</div>
