::ng-deep body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #394867;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #293047;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px #000000;
    width: 350px;
    height: auto;
}

.display {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 25px;
    background-color: #1e2235;
    box-shadow: 0 2px 5px #000000;
    border-radius: 6px;
    text-align: right;
    color: #FFFFFF;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;
}

button {
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    box-shadow: 0 5px 5px -2px #FFFFFF, 0 2px 2px #C8C8C8;
}

button.reset {
    background-color: #6B7AA1;
    color: #FFFFFF;
    box-shadow: 0 5px 5px -2px #4E5B7A, 0 2px 2px #4E5B7A;
    flex: 1;
}

button.equal {
    background-color: #C62E2E;
    color: #FFFFFF;
    box-shadow: 0 5px 5px -2px #A32D2D, 0 2px 2px #A32D2D;
    flex: 1;
}

.control-buttons {
    display: flex;
    gap: 17px;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
}

.display-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.theme-toggle {
    display: flex;
    align-items: center;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    background-color: #1e2235;
    border: 2px solid #1e2235;
    border-radius: 20px;
    padding: 2px;
    width: 48px;
    height: 14px;
    position: relative;
}

.theme-toggle input[type="checkbox"] {
    display: none;
}

.theme-indicator {
    width: 14px;
    height: 14px;
    background-color: #C62E2E;
    border-radius: 50%;
    transition: transform 0.4s ease-in-out;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.theme-toggle input[type="checkbox"]:checked ~ .theme-indicator {
    transform: translate(36px, -50%);
    background-color: green;
}

.theme-toggle label {
    font-size: 0.6rem;
    color: #FFFFFF;
    margin-right: 10px;
}

.display-header .calc-label {
    font-weight: bold;
    font-size: large;
    color: #FFFFFF;
}

.number-labels {

    justify-content: flex-end;
    margin-bottom: 0;
    margin-left: 87%;
    letter-spacing: 3px;
    color: #FFFFFF;
    font-size: 0.9rem;
    width: 100%;
}
