::ng-deep body {
    background-color: #394867;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #293047;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 350px;
    height: auto;
}

.display {
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1e2235;
    width: 100%;
    text-align: right;
    color: white;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white; /* Button background color */
    color: #000; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 50px;
    box-shadow: 0 5px 5px -2px #ffffff, 0 2px 2px #c8c8c8; /* Shadows only at the bottom */
}

button.reset {
    background-color: #6B7AA1; /* Color for DEL and RESET buttons */
    color: #ffffff;
    box-shadow: 0 5px 5px -2px #4e5b7a, 0 2px 2px #4e5b7a; /* Darker shade for shadow */
}

button.equal {
    background-color: #C62E2E; /* Color for EQUAL button */
    color: #ffffff;
    box-shadow: 0 5px 5px -2px #a32d2d, 0 2px 2px #a32d2d; /* Darker shade for shadow */
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.control-buttons button {
    flex: 1;
    height: 50px;
    margin: 0 5px;
}
